<div class="card bg-base-100 shadow-sm animate-fadeIn">
  <figure>
    <img [src]="product().images | productImage" [alt]="product().title" />
  </figure>
  <div class="card-body">
    <h2
      class="card-title text-lg hover:underline cursor-pointer"
      [routerLink]="['/product', product().slug]"
    >
      {{ product().title }}
    </h2>
    <p>{{ product().description | slice : 0 : 70 }}...</p>
    <div class="card-actions justify-end">
      <a class="btn btn-primary" [routerLink]="['/product', product().slug]"
        >Ver Más</a
      >
    </div>
  </div>
</div>
