<form
  class="flex flex-col gap-2"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
>
  <fieldset
    class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4"
  >
    <legend class="fieldset-legend">Login</legend>

    <label class="label">Email</label>
    <input
      type="email"
      class="input"
      placeholder="Email"
      formControlName="email"
    />

    <label class="label">Password</label>
    <input
      type="password"
      class="input"
      placeholder="Password"
      formControlName="password"
    />

    <button type="submit" class="btn btn-primary mt-4">Login</button>

    <p>
      Don't have an account?
      <a routerLink="/auth/register" class="text-teal-700">Register</a>
    </p>
  </fieldset>
</form>

@if (hasError()) {
<div
  role="alert"
  class="alert alert-error animate-fadeIn fixed bottom-5 right-5 w-52"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 shrink-0 stroke-current"
    fill="none"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
    />
  </svg>
  <span>Error! Verify your credentials.</span>
</div>
}
